pkgbase = python-hdlmake-git
	pkgdesc = Generates multi-purpose makefiles for HDL projects management.
	pkgver = r1660.51fc22f
	pkgrel = 1
	url = http://www.ohwr.org/projects/hdl-make
	arch = any
	license = GPL3
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	depends = python
	conflicts = python-hdlmake
	source = git+https://ohwr.org/project/hdl-make.git
	sha256sums = SKIP

pkgname = python-hdlmake-git
	depends = python
